
.figure-crore{
    float: right;
    padding-bottom: 0px;
    position: relative;
    bottom: 1px;
    right: 16px;
    background-color: lightblue;
}
.br-name{
    font-size: 22px;
    padding-bottom: 0px;
}


.crore{
    font-size: 16px;
    padding-bottom: 0px;
    font-weight: 900;
    text-transform: uppercase;
}

.box-color-daratio{
    background: #FF8C00;   
}

.box-color-loancl{
    background: #DEB887;
}

.box-color-export{
    background: #FF69B4;
}

.box-color-import{
    background: #4169E1;
}

.box-color-fr-remitance{
    background: #20B2AA;
}